@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    font-family: 'Barlow Semi Condensed';
    background: linear-gradient(hsl(214, 47%, 23%), hsl(237, 48%, 15%));
}

header{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > div{
    margin-top: 30px;
    border: 4px solid #5b6b84;
    width: 700px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 160px;
}

#hd1 img{
    height: 110px;
}

#hd2{
    background-color: white;
    width: 150px;
    height: 110px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#hd2 p{
    letter-spacing: 2px;
    font-weight: 700;
    color: hsl(230, 89%, 62%);
}

#hd2 h2{
    font-size: 3.8rem;
    line-height: 0.95;
    color: hsl(246, 11%, 37%);
}

main{
    width: 100vw;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#choose{
    width: 350px;
    height: 350px;
    background-image: url(./images/bg-triangle.svg);
    background-repeat: no-repeat;
    background-position: 37.5px 45px;
    background-size: 320px 275px;
    display: block;
    margin-right: 50px;
}

.chos{
    cursor: pointer;
}

#start_preview{
    width: 400px;
    height: 400px;
}

#top{
    display: flex;
    justify-content: space-between;
}

#top div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
}

#topl{
    box-shadow: 0px 0px 0px 20px #546FF4;
}

#topr{
    box-shadow: 0px 0px 0px 20px #EFA421;
}

#bottom{
    position: relative;
    left: 30%;
    top: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 20px #d7334e;
}

#topl img, #topr img, #bottom img{
    width: 75px;
}

footer{
    display: flex;
    align-items: flex-end;
    padding-bottom: 30px;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
}

#btn1{
    background-color: #141639;
    color: white;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: 2px hsl(246, 11%, 37%) solid;
    cursor: pointer;
    letter-spacing: 1px;
}

#btn2{
    background-color: #141639;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: 2px hsl(246, 11%, 37%) solid;
    cursor: pointer;
    letter-spacing: 2px;
}

#for_game{
    display: none;
}

#game_proces{
    display: flex;
    width: 75vw;
    height: 60vh;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

}

#game_proces #left,#right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#game_proces #left div,#right div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 220px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    
}

#game_proces #left div{
    box-shadow: 0px 0px 0px 25px #EFA421;
}

#game_proces #right div{
    box-shadow: 0px 0px 0px 25px #d7334e;
}

#game_proces #left img,#right img{
    width: 100px;
}

#game_proces #left p,#right p{
    font-size: 1.75rem;
    color: white;
    font-weight: 600;
    position: relative;
    bottom: 50px;
    margin-bottom: 20px;
}


#middle{
    display: none;
    align-items: center;
}

#middle div h2{
    font-size: 3rem;
    color: white;
    margin-bottom: 20px;
    margin-top: 70px;
}

#middle div button{
    font-size: 1rem;
    width: 200px;
    height: 40px;
    font-family: 'Barlow Semi Condensed';
    letter-spacing: 2px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
}

#rule{
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.65);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#content{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 8px;
    padding: 30px 30px;
}

#ctop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid hsla(246, 11%, 37%, 0.25);
}

#ctop h2{
    font-size: 1.8rem;
    color: #3A3E61;
}

#ctop img{
    width: 25px;
    height: 25px;
    cursor: pointer;
}


@media ((min-width: 320px) and (max-width:374px)) {
    header>div{
        border: 3px solid #5b6b84;
        width: calc(100vw - 20px);
        height: 110px;
    }
    #hd1 img{
        height: 75px;
    }

    #hd2{
        height: 75px;
        width: 100px;
    }

    #hd2 h2{
        font-size: 2.5rem;
    }

    main{
        padding-top: 50px;
        height: 400px;
    }
    #choose{
        width: 275px;
        height: 275px;
        background-size: 240px 180px;
        background-position: 27.5px 20px;
        margin-left: 50px;
    }
    #start_preview{
        width: 300px;
        height: 300px;
    }
    #top{
        justify-content: space-around;
    }

    #top div{
        width: 75px;
        height: 75px;
    }

    #topl{
        box-shadow: 0px 0px 0px 10px #546FF4;
    }
    #topr{
        box-shadow: 0px 0px 0px 10px #EFA421;
    }
    #topl img, #topr img, #bottom img {
    width: 45px;
    }
    #bottom{
        width: 75px;
        height: 75px;
        box-shadow: 0px 0px 0px 10px #d7334e;
        left: 36%;
    }

    #game_proces {
        width: 100vw;
        height: 375px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    #game_proces #left,#game_proces #right {
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    #game_proces #left div,#game_proces #right div {
        width: 100px;
        height: 100px;
        flex-shrink: 0;
    }

    #game_proces #left .ld1 {
        box-shadow: 0px 0px 0px 10px #546FF4 !important;
    }

    #game_proces #right .rd1 {
        box-shadow: 0px 0px 0px 10px #d7334e !important;
    }

    #game_proces #left img,#game_proces #right img {
        width: 45px;
    }

    #game_proces #left p,#game_proces #right p {
        font-size: 1rem;
        position: static;
        margin: 0 0 45px 0;
        white-space: nowrap;
    }

    #middle {
        display: block;
        position: absolute;
        top: 175px;
        left: 0;
        width: 100%;
    }

    #middle > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #middle div h2 {
        font-size: 2.5rem;
        margin: 0 0 20px 0;
    }

    #middle div button {
        width: 220px;
        height: 48px;
    }
#game_proces #left .ld1.paper {
        box-shadow: 0px 0px 0px 10px #546FF4 !important;
    }

    #game_proces #left .ld1.scissors {
        box-shadow: 0px 0px 0px 10px #EFA421 !important;
    }

    #game_proces #left .ld1.rock {
        box-shadow: 0px 0px 0px 10px #d7334e !important;
    }

    #game_proces #right .rd1.paper {
        box-shadow: 0px 0px 0px 10px #546FF4 !important;
    }

    #game_proces #right .rd1.scissors {
        box-shadow: 0px 0px 0px 10px #EFA421 !important;
    }

    #game_proces #right .rd1.rock {
        box-shadow: 0px 0px 0px 10px #d7334e !important;
    }


    #content{
        width: 280px;
        height: 350px;
    }
    #content #cbottom img{
        width: 250px;
    }
}

@media ((min-width: 375px) and (max-width: 424px)) {
    header>div{
        border: 3px solid #5b6b84;
        width: calc(100vw - 40px);
        height: 110px;
    }
    #hd1 img{
        height: 75px;
    }

    #hd2{
        height: 75px;
        width: 100px;
    }

    #hd2 h2{
        font-size: 2.5rem;
    }

    main{
        padding-top: 50px;
        height: 68vh;
    }
    #choose{
        width: 300px;
        height: 300px;
        background-size: 260px 200px;
        background-position: 42.5px 20px;
        margin-left: 0px;
    }
    #start_preview{
        width: 350px;
        height: 350px;
    }
    #top{
        justify-content: space-around;
    }

    #top div{
        width: 85px;
        height: 85px;
    }

    #topl{
        box-shadow: 0px 0px 0px 12px #546FF4;
    }
    #topr{
        box-shadow: 0px 0px 0px 12px #EFA421;
    }
    #topl img, #topr img, #bottom img {
    width: 50px;
    }
    #bottom{
        width: 85px;
        height: 85px;
        box-shadow: 0px 0px 0px 12px #d7334e;
        left: 36%;
    }

    #game_proces {
        width: 100vw;
        height: 375px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    #game_proces #left,#game_proces #right {
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    #game_proces #left div,#game_proces #right div {
        width: 110px;
        height: 110px;
        flex-shrink: 0;
    }

    #game_proces #left .ld1 {
        box-shadow: 0px 0px 0px 12px #546FF4 !important;
    }

    #game_proces #right .rd1 {
        box-shadow: 0px 0px 0px 12px #d7334e !important;
    }

    #game_proces #left img,#game_proces #right img {
        width: 50px;
    }

    #game_proces #left p,#game_proces #right p {
        font-size: 1.1rem;
        position: static;
        margin: 0 0 45px 0;
        white-space: nowrap;
    }

    #middle {
        display: block;
        position: absolute;
        top: 200px;
        left: 0;
        width: 100%;
    }

    #middle > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #middle div h2 {
        font-size: 2.6rem;
        margin: 0 0 20px 0;
    }

    #middle div button {
        width: 220px;
        height: 55px;
        font-size: 1.2rem;
    }
    #game_proces #left .ld1.paper {
        box-shadow: 0px 0px 0px 10px #546FF4 !important;
    }

    #game_proces #left .ld1.scissors {
        box-shadow: 0px 0px 0px 10px #EFA421 !important;
    }

    #game_proces #left .ld1.rock {
        box-shadow: 0px 0px 0px 10px #d7334e !important;
    }

    #game_proces #right .rd1.paper {
        box-shadow: 0px 0px 0px 10px #546FF4 !important;
    }

    #game_proces #right .rd1.scissors {
        box-shadow: 0px 0px 0px 10px #EFA421 !important;
    }

    #game_proces #right .rd1.rock {
        box-shadow: 0px 0px 0px 10px #d7334e !important;
    }

    #content{
        width: 300px;
        height: 375px;
    }
    #content #cbottom img{
        width: 265px;
        margin-top: 10px;
    }
}

@media ((min-width: 425px) and (max-width: 767px)) {
    header > div {
        width: 90vw;
        height: 130px;
        margin-top: 20px;
    }

    #hd1 img {
        height: 90px;
    }

    #hd2 {
        width: 120px;
        height: 90px;
    }

    #hd2 h2 {
        font-size: 3.2rem;
    }

    main {
        height: 55vh;
        padding-top: 90px;
        margin-bottom: 15%;
    }

    #choose {
        width: 320px;
        height: 320px;
        background-size: 280px 210px;
        background-position: 20px 35px;
        margin-right: 10px;
        
    }

    #start_preview {
        width: 350px;
        height: 350px;
    }

    #top {
        justify-content: space-around;
    }

    #top div {
        width: 100px;
        height: 100px;
    }

    #topl {
        box-shadow: 0px 0px 0px 14px #546FF4;
    }

    #topr {
        box-shadow: 0px 0px 0px 14px #EFA421;
    }

    #bottom {
        width: 100px;
        height: 100px;
        box-shadow: 0px 0px 0px 14px #d7334e;
        left: 35%;
    }

    #topl img,
    #topr img,
    #bottom img {
        width: 55px;
    }

    #game_proces {
        width: 100vw;
        height: 450px;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }

    #game_proces #left,
    #game_proces #right {
        width: 40%;
    }

    #game_proces #left div,
    #game_proces #right div {
        width: 130px;
        height: 130px;
    }

    #game_proces #left .ld1.paper,
    #game_proces #right .rd1.paper {
        box-shadow: 0px 0px 0px 14px #546FF4 !important;
    }

    #game_proces #left .ld1.scissors,
    #game_proces #right .rd1.scissors {
        box-shadow: 0px 0px 0px 14px #EFA421 !important;
    }

    #game_proces #left .ld1.rock,
    #game_proces #right .rd1.rock {
        box-shadow: 0px 0px 0px 14px #d7334e !important;
    }

    #game_proces #left img,
    #game_proces #right img {
        width: 60px;
    }

    #game_proces #left p,
    #game_proces #right p {
        font-size: 1.1rem;
        position: static;
        margin-bottom: 45px;
        white-space: nowrap;
    }

    #middle {
        display: block;
        position: absolute;
        top: 220px;
        left: 0;
        width: 100%;
    }

    #middle > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #middle div h2 {
        font-size: 2.7rem;
        margin: 0 0 20px 0;
    }

    #middle div button {
        width: 220px;
        height: 48px;
    }

    #content {
        width: 350px;
        height: 380px;
    }

    #content #cbottom img {
        width: 300px;
    }
} 

@media ((min-width: 2560px)) {
    header > div {
        width: 800px;
        padding: 20px;
        height: 175px;
    }

    #hd1 img {
        height: 120px;
    }

    #hd2 {
        width: 175px;
        height: 120px;
    }

    #hd2 h2 {
        font-size: 3.8rem;
    }
    #hd2 p{
        font-size: 1.1rem;
    }


    main {
        height: 40vh;
        padding-top: 20vh;
        margin-bottom: 12%;
    }

    #choose {        
        width: 400px;
        height: 400px;
        background-position: 37.5px 45px;
        background-size: 380px 350px;
        display: block;
    }

    #start_preview {
        width: 450px;
        height: 450px;
    }

    #top {
        justify-content: space-between;
        width: 18vw;
        position: relative;
        bottom: 20px;
    }

    #top div {
        width: 175px;
        height: 175px;
    }

    #topl {
        box-shadow: 0px 0px 0px 25px #546FF4;
    }

    #topr {
        box-shadow: 0px 0px 0px 25px #EFA421;
    }

    #bottom {
        width: 175px;
        height: 175px;
        box-shadow: 0px 0px 0px 25px #d7334e;
        left: 28%;
        top: 20%;
    }

    #topl img,#topr img,#bottom img {
        width: 85px;
    }

    #game_proces {
        width: 100vw;
        height: 450px;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }

    #game_proces #left,#game_proces #right {
        width: 40%;
    }

    #game_proces #left div,#game_proces #right div {
        width: 20vh;
        height: 20vh;
    }

    #game_proces #left .ld1.paper,#game_proces #right .rd1.paper {
        box-shadow: 0px 0px 0px 25px #546FF4 !important;
    }

    #game_proces #left .ld1.scissors,#game_proces #right .rd1.scissors {
        box-shadow: 0px 0px 0px 20px #EFA421 !important;
    }

    #game_proces #left .ld1.rock,#game_proces #right .rd1.rock {
        box-shadow: 0px 0px 0px 20px #d7334e !important;
    }

    #game_proces #left img,#game_proces #right img {
        width: 90px;
    }

    #game_proces #left p,#game_proces #right p {
        font-size: 2.5rem;
        position: static;
        margin-bottom: 5vh;
        white-space: nowrap;
    }

    #middle {
        display: block;
        position: absolute;
        top: 5vh;
        left: 0;
        width: 100%;
    }

    #middle > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #middle div h2 {
        font-size: 3.5rem;
        margin: 0 0 2.5vh 0;
    }

    #middle div button {
        margin-top: 2vh;
        width: 250px;
        height: 75px;
        font-size: 2rem;
    }

    #content {
        width: 30vw;
        height: 45vh;
    }

    #content #cbottom img {
        margin-top: 20px;
        height: 32.5vh;
    }

    #ctop h2{
        font-size: 2rem;
        color: #3A3E61;
    }

    #ctop img{
        width: 35px;
        height: 35px;
        cursor: pointer;
    }

    footer{
        justify-content: space-around;
    }
    #btn1{
        width: 200px;
        height: 90px;
        font-size: 1.5rem;
    }
    #btn2{
        width: 200px;
        height: 90px;
        font-size: 1.6rem;
    }
} 